#about{
    grid-template-columns: auto auto;
    background-color: rgb(223, 223, 223);
    color:black;
    font-size: 3ch;
    font-style: oblique;
    font-family: serif;
    text-align: justify;
    padding-bottom: 1px;
}
#content{
    padding-left: 75px;
    padding-top: 50px;
    padding-right: 125px;
    padding-bottom: 50px;
}
#hr_about{
    margin-top: 1px;
    margin-bottom: 1px;;
}
#about_me{
    align-content: center;
    padding-left: 67px;
    padding-right: 75px;
    border-right-color: black;
    border-right-style: double;
    border-radius: 100%;
}
#about_con {
    font-style: oblique;
    font-family: unset;
    font-size: 50px;
}